.dev-form .select2-container .select2-selection--single, .form-cs .select2-container .select2-selection--single {
	height: 38px;
	border: 1px solid #ccc;
}
.dev-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.form-cs .select2-container--default .select2-selection--single .select2-selection__arrow  {
	height: auto;
	bottom: 0;
	width: 28px;
}
.select2-container--bootstrap4 .select2-results__group + .select2-results__options {padding-left: 20px;}
.select2-container--bootstrap4 .select2-results__group {
	color: #444;
	font-weight: 600;
}
.nav-sidebar .nav-treeview {margin-left: 15px;}
.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon {font-size: 0.8rem}
.user-panel .image, .user-panel .image img{border-radius: 50%;}
#affiliate-page .custom-radio label{
	font-weight: normal;
	font-size: 14px;
    color: #000;
    font-weight: 600;
}
#ui-datepicker-div, .ui-timepicker-standard {z-index: 11 !important;}
.list-sales .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
    width: 100px;
}
.export.text-center.pull-right {
    position: absolute;
    right: 10px;
    top: 30px;
}
a.sort_date {
    position: relative;
    color: #333;
}
a.sort_date:after {
    position: absolute;
    content: '\f0dd';
    font-family: "Font Awesome 5 Free";
    right: -15px;
    top: -3px;
}
a.sort_date.active:after, a.sort_date:hover:after {
    transform: rotate(180deg);
    top: 3px;
}
a.sort_date.active:hover:after {
    transform: rotate(360deg);
    top: -3px;
}
.rate-cs img {max-width: 40px;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.nav-sidebar .nav-item:hover ul.nav-treeview {
    display: block;
}
.has-error .custom-control-label::before, .has-error .note-editor.note-frame, .has-error .note-editor.note-airframe, .img-upload.has-error .image {
    border-color: #dc3545;
}
.select2 .selection .select2-selection.has-error {border: 1px solid #dc3545;}
.nav-sidebar>.nav-item {max-width: 100%}
.nav-link {padding: .5rem .5rem;}
.control-label small {color: red;}
.count-col-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
.check__checkbox_all .list-child {display: none;}