@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.woff2?v=2.137") format("woff2"),
        url("../../fonts/Roboto-Regular.woff?v=2.137") format("woff"),
        url("../../fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: RobotoBold;
    src: url("../../fonts/Roboto-Bold.woff2?v=2.137") format("woff2"),
        url("../../fonts/Roboto-Bold.woff?v=2.137") format("woff"),
        url("../../fonts/Roboto-Bold.ttf") format('truetype');
}
body {
    font-family: Roboto;
}

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover{color: #007bff;}
img{max-width: 100%;}
.nav-filter {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.view-fast{float: right;}
.nav-filter li {
    border-bottom: 4px solid transparent;
    color: #666;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.nav-filter li:hover, .nav-filter li.active {
    background-color: #ededed;
    border-bottom: 4px solid #fe6600;
}
.nav-filter li a {
    color: #333;
}
main{
    padding-bottom: 20px;
    min-height: 85vh;
}
.search-form form {
    position: relative;
    border-radius: 3px;
    border: 1px solid #bfcbd9;
    padding: 10px 65px 10px 10px;
    background: rgba(0, 0, 0, 0.11);
}
.search-form button[type='submit'] {
    position: absolute;
    top: 10px;
    right: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.head {
    border-bottom: 1px solid #dfe4e8;
    padding: 15px 0 30px 0;
    margin-bottom: 30px;
}
.head .back-icon, .head .back-icon i {margin-right:5px;}
h1.title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 26px;
}
.view-fast {float: right;}
.view-fast i{margin-right:5px}
.btn-sm i{margin-right: 3px;}
.dev-form .group-action{text-align: right; padding: 20px 0; clear: both;}
.group-action .btn-success{margin-right:10px}
#list-mediaCat .dev-form .check{width: 5%;}
#list-mediaCat .dev-form .title{width: 30%;}
#list-mediaCat .dev-form .slug{width: 30%;}
#list-mediaCat .dev-form .number{width: 5%;}
#list-mediaCat .dev-form tbody .number{text-align: center;}
#list-mediaCat .dev-form .date{width: 15%;}
#list-mediaCat .dev-form .action{width: 15%;}
.slug {position: relative;}
.slug input {padding-right: 50px;}
.slug .btn-slug, .slug .sl-save {
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    background: #979292;
    color: #fff;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 10px;
}
.slug .sl-cancle {
    position: absolute;
    right: -85px;
    top: 0;
    height: 33px;
    line-height: 33px;
}
.slug.sl-active {margin-right: 85px;}
.dell-all{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
}
.dev-form .input-group .form-control{border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.medias .group-action{padding-top: 20px; text-align: right;}
.custom-control-label{font-weight: normal!important;}
.custom-control-label::before{box-shadow: none; background-color: transparent;}
#list-media .dev-form .check{width: 5%;}
#list-media .dev-form .image{width: 10%;}
#list-media .dev-form .title{width: 30%;}
#list-media .dev-form .category{width: 15%;}
#list-media .dev-form .slug{font-size: 13px; color: #555;}
#list-media .dev-form .date{width: 15%;}
#list-media .dev-form .author{width: 10%;}
#list-media .dev-form .action{width: 15%;}
.form-group .radio-inline{display: inline-block;}
.form-group .radio-inline:first-of-type{margin-right: 10px;}
#frm-sex .lb-sex{display: block;}
#frm-avatar .image{width: unset; max-height: unset; text-align: center;}
.change-password{display: none}
#edit-user #frm-phone .phone-switch{display: inline-block; margin-left: 10px;}
#list-stores .dev-form .check{width: 5%;}
#list-stores .dev-form .image{width: 10%;}
#list-stores .dev-form .title{width: 20%;}
#list-stores .dev-form .hotline{width: 15%;}
#list-stores .dev-form .work-time{width: 15%;}
#list-stores .dev-form .shoper{width: 10%;}
#list-stores .dev-form .date{width: 10%;}
#list-stores .dev-form .action{width: 15%;}
#list-proAttr .dev-form .check{width: 5%;}
#list-proAttr .dev-form .title{width: 35%;}
#list-proAttr .dev-form .slug{width: 30%;}
#list-proAttr .dev-form .date{width: 15%;}
#list-proAttr .dev-form .action{width: 15%;}
#list-slide .dev-form .check{width: 5%;}
#list-slide .dev-form .title{width: 40%;}
#list-slide .dev-form .count{width: 20%; text-align: center;}
#list-slide .dev-form .date{width: 15%; text-align: center;}
#list-slide .dev-form .action{width: 20%;}
.status .btn{cursor:none}
#list-logs .dev-form .check{width: 5%;}
#list-logs .dev-form .code{width: 10%;}
#list-logs .dev-form .title{width: 50%;}
#list-logs .dev-form .status{width: 10%;}
#list-logs .dev-form .date{width: 10%;}
#list-logs .dev-form .action{width: 15%;}
.stores #sb-bankingInfo .card-body .form-control:first-child{margin-bottom: 10px;}
.sel-multiple .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #007bff;
    border-color: #006fe6;
}
.slides .list .link{margin-top: 15px;}