
#top-bar {
    background:var(--black);
    height: 55px;
    color: #eaeaea;
}

#top-bar .wrap{display: flex; justify-content: space-between; line-height: 55px;}


.login .frmlogin {
    width: 350px;
    background-color:#fff;
    margin: 140px auto;
    border-radius: 25px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    padding-bottom: 22px;
}

.login .frmlogin .title{
    text-align: center;
    padding: 19px 0;
    color: #000;
}

.login .frmlogin .hr{
    position: relative;
    text-align: center;
}

.login .frmlogin .hr span{
    background: #fff;
    position: relative; 
    z-index: 1;
    padding: 0 5px;
    color: #000;
}

.login .frmlogin .hr:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    top: 50%;
    transform: translateY(-50%);
}


.login .frmlogin form .btn{
    width: 100%;
    height: 45px;
    background-color: #FF6275;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: none;
}

.button-login {
    padding: 15px 0 5px;
}

.forgot {
    text-align: center;
}

.login .frmlogin form .fieldset{
    position: relative;
}

.login .frmlogin form .fieldset i{
    position: absolute;
    width: 40px;
    left: 0;
    line-height: 44px;
    text-align: center;
    color: #000;
}

.login .frmlogin form label{
    color: #000;
    padding: 15px 0 0;
}

.login .frmlogin form .fieldset input{
    padding: 14px 20px 14px 40px;
    font-size: 16px;
    border-radius: 25px;
    height: 44px;
    border: 1px solid #ccc
}

.login .frmlogin a {
    color: #337ab7;
    text-align: center;
    text-decoration: none;
}

.modal-header {
    padding: 10px;
    background: #73879c;
    border-bottom: 1px solid #e5e5e5;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #e5e5e5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #1c3148;
    color: #fff;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

